img{
    width: 300px;
}
h1{
    text-align: center;
    font-family: 'Arial';
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
body{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h2{
    font-family: 'Arial';
    color:rgb(255, 255, 255)
}